<div class="container">
  <form [formGroup]="questionForm" (ngSubmit)="onQuestionSubmit(questionForm.value)" class="opacity">
    <mat-form-field class="input" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <br>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Text</mat-label>
      <textarea matInput formControlName="text"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="input" appearance="fill">
      <mat-label>What type of question is this?</mat-label>
      <select matNativeControl formControlName="type">
        <option [value]="'multiplechoice'" selected>Multiplechoice</option>
        <option [value]="'puzzle'">Puzzle</option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Start with this Question</mat-label>
      <select matNativeControl formControlName="first">
        <option [value]="false" selected>Rather not.</option>
        <option [value]="true">Of course!</option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field class="invisible" appearance="fill">
      <mat-label>SurveyId</mat-label>
      <input matInput formControlName="surveyId">
    </mat-form-field>
    <button mat-raised-button type="submit" class="input in2" [disabled]="!questionForm.valid">Submit</button>

  </form>
</div>
