<style>

</style>


<div class="main">
  <mat-toolbar class="topbar-container">
    <div class="topbar-element" [routerLink]="['/surveys']">
      Survey App (Early Access)
    </div>
    <div class="topbar-element">
      <button *ngIf="isLoggedIn()" class="top-button" mat-flat-button [matMenuTriggerFor]="menu">Menu</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="top-button" (click)="about()">About</button>
        <button mat-menu-item class="top-button" (click)="logout()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <router-outlet class="router"></router-outlet>
</div>

