.topbar-container {
  flex-display: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
}

.topbar-element {
  width: auto;
  margin: 10px;
}

.topbar-element:hover{
  cursor: pointer;
}

.top-button {
  background-color: rgba(255, 255, 255, 0.3);
}

.main {
  height: 100%;
  overflow: auto;
}
