<div class="edit-container">
  <div class="edit-element">
    <div *ngFor="let question of questions" class="card">
      <mat-card *ngIf="!finished" class="bg-color">
        <mat-card-header>
          <mat-card-title>{{question.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h3 *ngIf="question.answered">This question has already been answered.</h3>
        </mat-card-content>
        <mat-card-actions class="actions">
          <button mat-button [disabled]="question.answered" (click)="questionHelper(question)">GO!</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div>
      <mat-card *ngIf="finished" class="bg-color" style="margin-top: 0px;">
        <mat-card-header>
          <mat-card-title>Congrats, you have finished this survey!</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <h3>Something something average pts.</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
