<div class="general-container">
  <app-puzzle-preview class="beep" *ngIf="previewActive" (finished)="togglePreview($event)" [counter]="counter$"
                      [question]="question">

  </app-puzzle-preview>
  <div class="puzzle-container" *ngIf="!previewActive">
    <div *ngFor="let piece of puzzlepieces | keyvalue" class="puzzle-element">
      <div class="puzzle-piece">
        <img *ngIf="!piece.value.empty" (click)="toggleTap(piece.key)"
             [ngClass]="{'puzzle-piece-image': !piece.value.tapped, 'puzzle-piece-image-tapped': piece.value.tapped }"
             src="{{'/api/assets/' + question.surveyid + '/' + question.ID + '/' + piece.value.image}}">
      </div>
      <div class="element-button-container">
        <button mat-flat-button class="element-button" (click)="openDialog(piece.key)">ADD</button>
        <button mat-flat-button class="element-button" (click)="clear(piece.key)">CLEAR</button>
      </div>
    </div>
  </div>
  <div>
    <button class="button" mat-flat-button (click)="openSubmitAlert()" *ngIf="!previewActive">Submit</button>
    <button class="button" mat-flat-button *ngIf="previewActive">{{counter$ | async}}</button>
  </div>
</div>
