<div class="edit-container">
  <div class="edit-element first left-container">
    <app-survey-form (formData)="onSurveySubmit($event)" [getSurvey]="true" class=""></app-survey-form>
    <!-- add the upload form for the introductory pdf here -->
    <div>
      <h1>Introduction</h1>
      <div class="form-group">
        <label for="file">Choose File</label>
        <input type="file"
               accept="application/pdf"
               id="file"
               (change)="handleFileInput($event.target.files)">
      </div>
      <button mat-flat-button class="buttons" [disabled]="!fileSelected" (click)="uploadFileToActivity()">UPLOAD
      </button>

    </div>
    <div>
      <h1>Random Brackets</h1>
      <ul>
        <li *ngFor="let b of brackets">
          {{b.name}}
        </li>
      </ul>
      <form [formGroup]="bracketForm" (ngSubmit)="onBracketSubmit(bracketForm.value)" class="opacity">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <button mat-raised-button type="submit" class="input in2" [disabled]="!bracketForm.valid">Submit</button>

      </form>
    </div>
  </div>
  <div class="edit-element last question-list">
    <div *ngFor="let question of localQuestions | keyvalue" class="card">
      <mat-card class="bg-color">
        <mat-card-header>
          <mat-card-title>{{question.value.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <p>
            {{question.value.text}}
          </p>

          <h3 *ngIf="isFirst(question.value.first)">
            This is the starting-question.
          </h3>
        </mat-card-content>
        <mat-card-actions class="actions">
          <button mat-button (click)="moveToEditForm(question.value.ID, question.value.type)">EDIT</button>
          <button mat-button (click)="delete(question.value.ID)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="button-container">
      <button *ngIf="permissionCheck()" class="bg-color add-button" mat-raised-button (click)="moveToAddForm()">ADD</button>
    </div>
  </div>
</div>
