<div class="edit-container">
  <app-survey-form (formData)="onSurveySubmit($event)" [getSurvey]="true" class="edit-element first"></app-survey-form>
  <div class="edit-element last question-list">
    <div *ngFor="let question of localQuestions | keyvalue" class="card">
      <mat-card class="bg-color">
        <mat-card-header>
          <mat-card-title>{{question.value.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content >
          <p>
            {{question.value.text}}
          </p>

          <h3 *ngIf="isFirst(question.value.first)">
            This is the starting-question.
          </h3>
        </mat-card-content>
        <mat-card-actions class="actions">
          <button mat-button (click)="moveToEditForm(question.value.ID)">EDIT</button>
          <button mat-button (click)="delete(question.value.ID)">DELETE</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="button-container">
      <button *ngIf="permissionCheck()" class="bg-color add-button" mat-raised-button (click)="moveToAddForm()">ADD</button>
    </div>
  </div>
</div>
