<div class="container">
  <mat-tab-group mat-align-tabs="center" animationDuration="0ms" class="opacity">
      <mat-tab label="Login">
          <div class="elem">
              <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit(loginForm.value)">
                  <mat-form-field class="input" appearance="fill">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="input" appearance="fill">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" formControlName="password">
                  </mat-form-field>
                  <br>
                  <button mat-raised-button type="submit" class="input in2" [disabled]="!loginForm.valid">Submit</button>
              </form>
          </div>

      </mat-tab>
    <mat-tab label="Signup">
      <div class="elem">
        <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit(signupForm.value)">
          <mat-form-field class="input" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
          <br>
          <mat-form-field class="input"
                          matTooltip="We won't send you a verification mail."
                          appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <br>
          <mat-form-field class="input"
                          matTooltip="Do you want to receive the final thesis via mail once its done?"
                          appearance="fill">
            <mat-label>Do you want to receive the final thesis via mail once its done?</mat-label>
            <select matNativeControl formControlName="wantsThesis">
              <option [value]="'true'">Yes</option>
                    <option [value]="'false'">No</option>
                  </select>
                </mat-form-field>
                <br>
                <mat-form-field class="input"
                                matTooltip="Do you agree to the terms and conditions?"
                                appearance="fill">
                  <mat-label>Do you agree to the terms and conditions?</mat-label>
                  <select matNativeControl formControlName="agreesToTNC">
                    <option [value]="'true'">I agree to the terms and conditions.</option>
                  </select>
                </mat-form-field>
                <br>
                <mat-form-field class="input" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password">
                </mat-form-field>
                <br>
                <mat-form-field class="input" appearance="fill">
                  <mat-label>Repeat Password</mat-label>
                  <input matInput type="password" formControlName="passwordConfirmation">
                  <!--<mat-error *ngIf="signupForm.get('passwordConfirmation').hasError('passwordsEqual')">
                    Passwörter stimmen nicht überein.
                  </mat-error>-->
                </mat-form-field>
          <br>
          <button mat-raised-button class="input in2" type="submit" [disabled]="!signupForm.valid">Submit</button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
  <div class="elem footer">
    <h2 class="footer-element">
      <a target="_blank" href="{{'/api/assets/static/impressum/' + 1}}">Impressum</a>
    </h2>
    <h2 class="footer-element">
      <a target="_blank" href="{{'/api/assets/static/termsandconditions/' + 1}}">AGB</a>
    </h2>
    <h2 class="footer-element">
      <a routerLink="/about" routerLinkActive="active">About</a>
    </h2>
  </div>
</div>
