.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  flex: 1;
  height: 85%;
}

.opacity {
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  max-height: 80%;
  max-width: 40%;
}

.elem {
}

.input {
  background: rgba(255, 255, 255, 0.3);
  margin-top: 10px;
  border-radius: 5px;
}

.in2 {
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer-element {
  margin: 5%;
}
