<div class="about-container">
  <mat-card class="item">
    <mat-card-header>
      <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      This is a survey by {{environment.aboutName}} ({{environment.aboutEmail}})
      <br>
      for {{environment.aboutOrganisazion}}.
      <br>
    </mat-card-content>
    <mat-card-content>
      Learn more about the project on:
      <br>
      <a href="{{environment.aboutProject}}">{{environment.aboutProject}}</a>
    </mat-card-content>

  </mat-card>
</div>
