.card-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 66%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.3);
}
