/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tab-labels {
  justify-content: center;
}

.mat-tab-body-wrapper{
  text-align: center;
  margin-top: 5%;
}

.bg-img
{
  background-image: url('/assets/lowpoly.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-width: 100%;
  z-index: -10;
  overflow:hidden;
}
