<div class="inspect-container">
  <div class="menu-container">
    <div class="menu-item">
      <form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit(userForm.value)" class="opacity">

        <mat-form-field class="input" appearance="fill">
          <mat-label>Pick an user:</mat-label>
          <select matNativeControl formControlName="email">
            <option *ngFor="let u of users" [value]="u.email" selected> {{u.id}}</option>
          </select>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!userForm.valid">Submit</button>

      </form>
    </div>
    <div class="menu-item">
      <form [formGroup]="questionForm" (ngSubmit)="onSubmissionSubmit(questionForm.value)" class="opacity">

        <mat-form-field class="input" appearance="fill">
          <mat-label>Pick an question:</mat-label>
          <select matNativeControl formControlName="question">
            <option *ngFor="let a of currentQuestions" [value]="a" selected> {{a}}</option>
          </select>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!questionForm.valid">Submit</button>

      </form>
    </div>
  </div>
  <div class="state-viewer">
    <div *ngFor="let piece of presentedPieces | keyvalue" class="puzzle-element">
      <img *ngIf="!piece.value.empty"
           [ngClass]="{'puzzle-piece-image': !piece.value.tapped, 'puzzle-piece-image-tapped': piece.value.tapped }"
           src="{{'/api/assets/' + surveyId + '/' + questionId + '/' + piece.value.image}}">
    </div>
  </div>
</div>
