<div class="inspect-container">
  <div class="menu-container">
    <div class="menu-item">
      <form [formGroup]="userForm" (ngSubmit)="onUserFormSubmit(userForm.value)" class="opacity">

        <mat-form-field class="input" appearance="fill">
          <mat-label>Pick an user:</mat-label>
          <select matNativeControl formControlName="email">
            <option *ngFor="let u of users" [value]="u.email" selected> {{u.id}}</option>
          </select>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="!userForm.valid">Submit</button>

      </form>
    </div>
    <div class="menu-item">
      <p> questions here </p>
    </div>
  </div>
  <div class="state-viewer">
    the big container
  </div>
</div>
