.inspect-container {
  display: flex;
  flex-direction: row;
  height: 90%;
}

.menu-container {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  align-content: space-evenly;
  border: 1px black solid;
}

.menu-item {
  flex: 1;
  border: 1px black solid;
  margin: 5%;
}

.menu-item:nth-child(2n) {
  flex: 1;
  border: 1px black solid;
  margin: 5%;
  margin-top: 0%;
}

.state-viewer {
  border: 1px black solid;
  flex: 1;
}
