<div class="container">
  <form [formGroup]="multipleForm" (ngSubmit)="onMultipleSubmit(multipleForm.value)" class="opacity">
    <mat-form-field class="input" appearance="fill">
      <mat-label>Text</mat-label>
      <input matInput formControlName="text">
    </mat-form-field>
    <br>
    <mat-form-field class="input" appearance="fill">
      <mat-label>Is the follwing question a random one?</mat-label>
      <select matNativeControl formControlName="typeOfNextQuestion" (change)="disableSecond($event)">
        <option [value]="'regular'" selected>regular</option>
        <option [value]="'random'">random</option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="getAnswer" class="input" appearance="fill">
      <mat-label>Next Question</mat-label>
      <select matNativeControl formControlName="nextQuestion">
        <option value="" selected></option>
        <option *ngFor="let randomBracket of randomBrackets" [value]="randomBracket.name">
          {{randomBracket.name}}
        </option>
        <option *ngFor="let q of questionz" [value]="q.value">
          {{q.viewValue}}
        </option>
        <option [value]="'lastQuestion'">This is the last Question.</option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field class="input" appearance="fill" *ngIf="!secondDisabled">
      <mat-label>Second to next Question</mat-label>
      <select matNativeControl formControlName="secondToNext">
        <option [value]="" selected></option>
        <option *ngFor="let q of questionz" [value]="q.value">
          {{q.viewValue}}
        </option>
        <option [value]="'lastQuestion'"> The Survey will end after the random block.</option>
      </select>
    </mat-form-field>
    <mat-form-field class="invisible" appearance="fill">
      <mat-label>QuestionId</mat-label>
      <input matInput formControlName="questionId">
    </mat-form-field>
    <button mat-raised-button type="submit" class="input in2" [disabled]="!multipleForm.valid">Submit</button>

  </form>
</div>

